
.navbar-nav {
    display: flex;
    gap: 100px;
    margin-left: 20%;
    margin-top: -8px;

}

li {
    list-style: none;
    display: block;
}


.item
{
    width: 50%;
}
.carousel-inner
{
    width: 50%;
}
.right
{
    background-color: white;
}